[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}
djoser = "*"
drf-spectacular = "*"
django-filter = "*"

[dev-packages]
django-stubs = "*"
djangorestframework-stubs = "*"
ruff = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
